html {
	margin-left: 20%;
	max-width: 60%;
	font-family: "Times New Roman", Times, serif;
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #edc7ed 0%, #97D9E1 100%);

}

.byline {
	font-style: italic;
	border-bottom: 1px solid #000;
}

#portrait {
	max-height: 300px;
	margin-right: 40%;
}

.image {
	font-size: 12px;
	font-style: italic;
	margin-left:40%;
}